# LangChain & LangGraph Ecosystem
langchain-core
langchain-google-genai
langchain-chroma
langgraph
langgraph-checkpoint-sqlite
langsmith

# API & Web Server
fastapi
uvicorn
pydantic
httpx

# Utilities
python-dotenv

#Streamlit UI
streamlit
requests

langchain-community
redis

slowapi>=0.1.9


# PostgreSQL
langgraph-checkpoint-postgres
langchain-postgres
psycopg[binary]>=3.2.1
psycopg-pool>=3.2.1
psycopg2-binary>=2.9.9

flashrank>=0.2.0
langchain-classic