# LangChain & LangGraph Ecosystem
langchain-core
langchain-google-genai
langchain-chroma
langgraph
langgraph-checkpoint-sqlite
langsmith

# API & Web Server
fastapi
uvicorn
pydantic
httpx

# Utilities
python-dotenv

#Streamlit UI
streamlit
requests

langchain-community
redis

slowapi>=0.1.9

# PostgreSQL
psycopg[binary]
psycopg_pool
langgraph-checkpoint-postgres
langchain-postgres

psycopg2-binary==2.9.13
psycopg[binary]==3.1.18
psycopg-pool==3.2.1